@font-face {
    font-family: gothic;
    src: url(./font/Seagram\ tfb.ttf);
}

@font-face {
    font-family: code;
    src: url(./font/CONSOLA.TTF);
}

:root.dark {
    --border-btn: none;
    --color-base-bg: rgb(0, 0, 0);
    --color-base-text: rgb(255, 255, 255);
    --color-btn-bg: rgb(0,0,0);
}
:root.light {
    --border-btn: none;
    --color-base-bg: rgb(255, 255, 255);
    --color-base-text: rgb(0, 0, 0);
    --color-btn-bg: rgb(255, 255, 255);
}
.body,
.theme-toggle {
    color: var(--color-base-text);
}

body {
    background-color: var(--color-base-bg);
    padding: 10px;
    font-family: code;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1rem;
}

.theme-toggle {
    background-color: var(--color-btn-bg);
    border: none;
    font-size: 10vh;
    padding: none;
    font-family: gothic;
    position: absolute;
    left: 77%;
    top: 20%;
}

.theme-toggle:hover {
    cursor: pointer;
}

.box1 {
    background-color: none;
    color: white;
    position: absolute;
    font-size: clamp(2vh,1rem,4vh);
    top: 15vh;
    left: 17vw;
}

.box2 {
    background-color: none;
    color: white;
    position: absolute;
    font-size: clamp(2vh,1rem,4vh);
    top: 45vh;
    left: 30vw;
}

.box3 {
    background-color: none;
    color: white;
    position: absolute;
    font-size: clamp(2vh,1rem,4vh);
    top: 75vh;
    left: 43vw;
}

.box1:hover {
    cursor: pointer;
}
.box2:hover {
    cursor: pointer;
}
.box3:hover {
    cursor: pointer;
}