@font-face {
    font-family: lovely;
    src: url(./font/JakesHandwriting.ttf);
}

:root.dark {
    --border-btn: none;
    --color-base-bg: rgb(0, 0, 0);
    --color-base-text: rgb(255, 255, 255);
    --color-btn-bg: rgb(0,0,0);
}
:root.light {
    --border-btn: none;
    --color-base-bg: rgb(254, 255, 203);
    --color-base-text: rgb(0, 0, 0);
    --color-btn-bg: rgb(254, 255, 203);
}

.body,
.theme-toggle {
    color: var(--color-base-text);
}

body {
    background-color: var(--color-base-bg);
    padding: 10px;
    font-family: lovely;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 1rem;
}

.theme-toggle {
    background-color: var(--color-btn-bg);
    border: none;
    font-size: 4rem;
    padding: none;
    font-family: lovely;
    position: absolute;
    left: 48%;
    top: 43%;
}

.theme-toggle:hover {
    cursor: pointer;
}

