@font-face {
    font-family: code;
    src: url(../font/CONSOLA.TTF);
}

:root {
    background-color: black;
    font-family: code;
}

.albums {
    color: white;
    background-color: none;
    font-size: clamp(2vh,1.2rem,4vh);
}

/* Albums Section */ 

/* My Beautiful Dark Twisted Fantasy */

.my {
    position: absolute;
    top: 50%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.my:hover {
    color: rgba(0, 0, 0, 0);
}

.my:hover .mylogo {
    opacity: 1;
}

.mylogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    width: clamp(10vh,200px,20vh);
    box-shadow: 0px 0px 50px rgb(255, 0, 43);
}

.mylogo:hover {
    cursor: pointer;
}

.mytext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* 808's & Heartbreak */

.eight {
    position: absolute;
    top: 30%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.eight:hover {
    color: rgba(0, 0, 0, 0);
}

.eight:hover .eightlogo {
    opacity: 1;
}

.eightlogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(201, 201, 201);
    width: clamp(9.5vh,190px,19vh);
}

.eightlogo:hover {
    cursor: pointer;
}

.eighttext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* Graduation */

.graduation {
    position: absolute;
    top: 25%;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.graduation:hover {
    color: rgba(0, 0, 0, 0);
}

.graduation:hover .graduationlogo {
    opacity: 1;
}

.graduationlogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(255, 0, 234);
    width: clamp(9vh,180px,18vh);
}

.graduationlogo:hover {
    cursor: pointer;
}

.graduationtext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* Late Orchestration */

.lateo {
    position: absolute;
    top: 75%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.lateo:hover {
    color: rgba(0, 0, 0, 0);
}

.lateo:hover .lateologo {
    opacity: 1;
}

.lateologo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(122, 31, 77);
    width: clamp(8.5vh,170px,17.5vh);
}

.lateologo:hover {
    cursor: pointer;
}

.lateotext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* Late Registration */

.later {
    position: absolute;
    top: 78%;
    left: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.later:hover {
    color: rgba(0, 0, 0, 0);
}

.later:hover .laterlogo {
    opacity: 1;
}

.laterlogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(114, 114, 114);
    width: clamp(8vh,160px,17vh);
}

.laterlogo:hover {
    cursor: pointer;
}

.latertext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* The College Dropout */

.thec {
    position: absolute;
    top: 35%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.thec:hover {
    color: rgba(0, 0, 0, 0);
}

.thec:hover .theclogo {
    opacity: 1;
}

.theclogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(247, 189, 0);
    width: clamp(7.5vh,150px,16.5vh);
}

.theclogo:hover {
    cursor: pointer;
}

.thectext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* Watch the throne */

.watch {
    position: absolute;
    top: 60%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.watch:hover {
    color: rgba(0, 0, 0, 0);
}

.watch:hover .watchlogo {
    opacity: 1;
}

.watchlogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(255, 229, 145);
    width: clamp(10.5vh,210px,20.5vh);
}

.watchlogo:hover {
    cursor: pointer;
}

.watchtext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* Yeezus */

.yeezus {
    position: absolute;
    top: 10%;
    left: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.yeezus:hover {
    color: rgba(0, 0, 0, 0);
}

.yeezus:hover .yeezuslogo {
    opacity: 1;
}

.yeezuslogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(255, 72, 0);
    width: clamp(11vh,220px,21vh);
}

.yeezuslogo:hover {
    cursor: pointer;
}

.yeezustext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* The life of Pablo */

.thel {
    position: absolute;
    top: 82%;
    left: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.thel:hover {
    color: rgba(0, 0, 0, 0);
}

.thel:hover .thellogo {
    opacity: 1;
}

.thellogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(255, 72, 0);
    width: clamp(11.5vh,230px,21.5vh);
}

.thellogo:hover {
    cursor: pointer;
}

.theltext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* ye */

.ye {
    position: absolute;
    top: 15%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.ye:hover {
    color: rgba(0, 0, 0, 0);
}

.ye:hover .yelogo {
    opacity: 1;
}

.yelogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(0, 23, 97);
    width: clamp(12vh,240px,22vh);
}

.yelogo:hover {
    cursor: pointer;
}

.yetext {
    display: flex;
    margin: 7px;
    text-align: center;
}

/* KIDS SEE GHOSTS */

.kids {
    position: absolute;
    top: 58%;
    left: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s ease-in;
    width: clamp(16vh,200px,20vh);
}

.kids:hover {
    color: rgba(0, 0, 0, 0);
}

.kids:hover .kidslogo {
    opacity: 1;
}

.kidslogo {
    opacity: 0;
    transition: all 0.2s ease-in;
    position: absolute;
    box-shadow: 0px 0px 50px rgb(0, 23, 97);
    width: clamp(12vh,240px,22vh);
}

.kidslogo:hover {
    cursor: pointer;
}

.kidstext {
    display: flex;
    margin: 7px;
    text-align: center;
}
