:root {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.player {
    position: absolute;
    width: 350px;
    background: rgba(255, 255, 255, 0);
}

.player.imgbox {
    position: relative;
    width: 100%;
    height: 450px;
}

.player .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}